




/* Colonnes du body */
.colonne {
    float: left;
    color:black;
    /*background-color: plum;*/
}
  
  /* colonne de gauche */

header {
    background-color: #e4cafc;
    height: 400px;
    width: 100%;
    padding: 30px;
}
.colonne.gauche {
    width: 25%;
    height: 1985px;
    background-color: #faf0fb;
    position: relative;
}

.skills {
    height: 1585px;
    background-color: #faf0fb;
    padding: 20px;
}

ul {
    list-style-type: square;
}

  

  
/* colonne principale */
.colonne.droite {
  width: 75%;
  height: 1985px;
  background-color: white;
  padding: 50px;
  
}