/*________________________________________________ header _________________________________________*/
header {
    background-color: rgb(215, 177, 254);
    text-align: right;
    padding: 10px;
}

.Logo {
    width: 24px;
    height: 24px;
}

/*_____________________________________ barre de navigation____________________________________ */
nav {
    overflow: hidden;
    background-color: rgb(51, 37, 49);
    color: white;
    text-decoration: none;
    top: 0;

}
        /* Ceux sans dropdown */
.simple {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}

.simple a {
    text-decoration: none;
}

.simple:hover {
    background-color: #ddd;
    color: rgb(51, 37, 49);
}
        /* Ceux avec dropdown */
.dropdown {
    
    color: #fcfcfc;
    display: inline-block;
    position: relative;
}

.dropdown-button {
    background-color: rgb(51, 37, 49);
    padding: 16px 16px;
    border: none;
    color: white;
}

.dropdown-button:hover {
    background-color: #ddd;
    color: rgb(51, 37, 49);
}

.dropdown-content {
    position: fixed;
    display: none;
    background-color: black;
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: rgb(51, 37, 49);
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*_______________________________________________main_____________________________________________ */ 

main {
    background-color: rgb(255, 246, 255);
}
/* Footer */
footer {
    color: blue;
    background-color: bisque;
    height: 40px;
    
}

/* balises */

/*body {
    background-color: white;
}*/

h1 {
    text-align: center;
}



body {
    background-color: rgb(255, 246, 255);
}



/* Colonnes du main */
.colonne {
    float: left;
    color:black;
    /*background-color: plum;*/
}
  
  /* colonne de gauche */
.colonne.gauche {
    width: 25%;
    height: 1500px;
    padding: 2%;
    background-color: #ddd;
    position: relative;
}

.block_presentation {
    position: absolute;
    margin-left: 10%;
    margin-top: 50px;
    padding: 20px;
    width: 400px;
    background-color: aquamarine;
}
  
/* colonne principale */
.colonne.milieu {
  width: 75%;
  height: 1500px;
  background-color: rgb(225, 250, 250);
  padding-top: 2%;
  
}

@media screen and (max-width: 1050px) {
    .colonne.gauche, .colonne.milieu {
        width: 100%;
    }
}


/* id image*/

#image_profil {
    width: 180px;
    height: 201px;
    margin: auto;
}