/* _____________________________________________ Variables _______________________________________*/
:root {
    --couleur2: rgb(241, 235, 255);
    --couleur1: rgb(51, 37, 49);
}





.Logo {
    width: 24px;
    height: 24px;
}

/*_____________________________________ barre de navigation____________________________________ */
nav {
    background-color: var(--couleur1);
    color: var(--couleur2);
    position: fixed;
    width: 100%;
    z-index: 5;
    height: 10rem;

}
        /* Ceux sans dropdown */
.simple {
    float: left;
    display: block;
    color: var(--couleur2);
    background-color: var(--couleur1);
    text-align: center;
    border: none;
    text-decoration: none;
    width: 15%;
    height: 5rem;
}

.simple a {
    text-decoration: none;
}

.simple:hover {
    background-color: var(--couleur2);
    color: rgb(51, 37, 49);
}
        /* Ceux avec dropdown */
.dropdown {
    
    color: var(--couleur2) ;
    display: inline-block;
    position: relative;
    width: 15%;
    
    
}

.dropdown-button {
    background-color: rgb(51, 37, 49);
    border: none;
    color: var(--couleur2);
    width: 100%;
    height: 5rem;
}

.dropdown-button:hover {
    background-color: var(--couleur2);
    color: rgb(51, 37, 49);
}

.dropdown-content {
    position: fixed;
    display: none;
    background-color: black;
    z-index: 1;
    min-width: 15%;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--couleur2);
    color: rgb(51, 37, 49) ;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.sous_nav {
    height: 10rem;
    width: 100%;
}
/*_______________________________________________main_____________________________________________ */ 

main {
    background-color: var(--couleur2);
    height: 70rem;
}
/* Footer */
footer {
    color: blue;
    background-color: bisque;
    height: 4rem;
    
}

/* balises */

h1 {
    text-align: center;
    margin: 0rem;
}



/* Colonnes du main */
.colonne {
    float: left;
    color:black;
    /*background-color: plum;*/
}
  
  /* colonne de gauche */
.colonne.gauche {
    width: 30%;
    height: 60rem;
    background-color: var(--couleur2);
    text-align: justify;
    
}

.block_titre {
    text-align: center;
    width: 100%;
    height: 13rem;
    background-color: var(--couleur2);
    margin-bottom: 8rem;
}

.block_presentation {
    padding: 1rem;
    width: 100%;
    background-color: var(--couleur1);
    color: var(--couleur2);
}
  
/* colonne principale */
.colonne.milieu {
  width: 70%;
  height: 60rem;
  background-color: white;
  
}
/* id image*/

.image_profil {
    text-align: center;
    padding-bottom: 1rem;
}

.bouton_CV{
    background-color: var(--couleur1);
    color: var(--couleur2);
    
}

.bouton_CV.principal{
    width : 25%;
    height: 15rem;
    margin-left: 2rem;
    border-top-right-radius: 5rem;
    border-bottom-left-radius: 5rem;
}

.bouton_CV.sport{
    width : 25%;
    height: 5rem;
    margin-left: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.bouton_CV a {
    text-decoration: none;
}

/* adaptation téléphone */
@media screen and (max-width: 70rem) {
    .colonne.gauche, .colonne.milieu {
        width: 100%;
    }

    nav {
        background-color: var(--couleur1);
        color: var(--couleur2);
        position: fixed;
        width: 100%;
        z-index: 5;
        height: 10rem;
    }

    .sous_nav {
        height: 10rem;
        width: 100%;
    }

    .block_presentation {
        padding: 1rem;
        width: 30rem;
        background-color: var(--couleur1);
        color: var(--couleur2);
        margin-left: auto;
        margin-right: auto;
    }

}


